.attend{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    height:100%;
    /* align-items:center; */
    justify-content: center;
    /* background-color : rgb(31,27,44) ;  */
    background-image : url('../css/ImpImg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    min-height: 100vh;
}   
.attend1{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    height:100vh;
    align-items:center;
    justify-content: center;
    /* background-color : rgb(31,27,44) ;  */
    background-image : url('../css/ImpImg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    

}
.preattend
{
    width: 100%;
    background-color: rgb(35,34,52);
    border-radius: 5px;
    padding: 25px 30px;
    max-width: 700px;
}

h4{
    color : white ; 
}
    
.attendlabel{
    font-size: 30px;
    margin-top: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    align-items:center;
    justify-content: center;
    color : white ;
}
.attendencelabel{
    display: block;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}
.stulist button{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: auto;
    border-radius: 60px;
    background:linear-gradient(135deg,#05eafa, rgba(191, 226, 93, 0.925));
    color: white;
    font-size: 25px;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 200px;
    color: black;
}
.upload button{
    margin-top: 10px;
    margin-left: 200px;
    width: 300px;
    height: 50px;
    border-radius: 60px;
    background:linear-gradient(135deg,#05eafa, rgba(191, 226, 93, 0.925));
    color: black;
    font-size: 25px;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
} 
.pabutton button{
    background:linear-gradient(135deg,#ff2121, rgba(2, 252, 44, 0.925));
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.stuname{
    width: 33%;
    height: 100%;
}
.stubutton{
    width: 33%;
    height: 100%;
}

.student-list-displayer{
    box-sizing: border-box;
    /* border : 1px solid white ;  */

    display: flex;
    flex-direction: row;
    margin-bottom : 10px ; 
}

.student-list-displayer > div{
    height : 50px ; 
    width : 30% ; 
    
}

.student-list-displayer-absent , 
.student-list-displayer-present , 
.student-list-displayer-name {
    color : white ; 
    font-size : 1.3rem ;
    line-height: 50px;
    cursor : pointer ;
    text-align: center;
    border-radius : 10px ; 
    border : .5px solid white ; 
}
#linkyName {
    color : white  ;
    text-decoration: none;
}

#presentClicked{
    background-color: green;
  
}
#absentClicked{
    background-color: red;
}